@charset "utf-8";

body {
    font-family: メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body>div {
    background-color: rgb(243, 185, 237);
    max-width: 320px;
    margin: 1em auto;
    padding: 1em;
    text-align: center;
}

h1 {

    font-size: x-large;
}

#start_button {}

#game {
    display: none;
}

#cp_result {
    font-size: 10em;
}

.my_hand {
    font-size: 4em;
    display: inline-block;
}

.btn_large {
    display: block;
    background-color: #ccc;
    width: 50%;
    text-align: center;
    padding: 1em;
    margin: 1em auto;
}

dl {
    display: flex;
    flex-wrap: wrap;
}

dt {
    width: 20%;
    padding: 10px;
    background-color: #DADADA;
    margin: 0 0 10px 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

dd {
    width: 60%;
    padding: 10px;
    background-color: #F3F3F3;
    margin: 0 0 10px 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}