@charset "utf-8";

body {
    font-family: メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(155, 155, 155);
}

#main_img {
    max-width: 90%;
    margin: 0 auto;
    max-width: 320px;
}

body>div {
    background-color: rgb(231, 231, 231);
    max-width: 320px;
    margin: 1em auto;
    padding: 0 0 1em 0;
    text-align: center;
}

h1 {

    font-size: x-large;
}

#start_button {}

#turns {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#game,
#ranking,
#area_my_score,
#cp_img,
#me_img,
#reset_button {
    display: none;
}

#reset_button {
    margin-top: 1em;
}

.player_img {
    display: inline-block;
    margin: 1em 0 0 0;
    max-width: 40%;
}

#cp_result {
    font-size: 10em;
    height: 238px;
}

.my_hand {
    font-size: 4em;
    display: inline-block;
    background-color: #d77f89;
    box-shadow: 0 5px 0 #ca1c30;
    border-radius: 60px;
}

/* ホバー時 */
.my_hand:hover {
    box-shadow: none;
    transform: translateY(5px);
}

.my_hand:active {
    box-shadow: none;
    transform: translateY(5px);
}


.btn_large {
    display: inline-block;
    border: none;
    border-radius: 60px;
    background-color: #61b0e2;
    box-shadow: 0 5px 0 #369ada;
    width: 50%;
    text-align: center;
    padding: 1em;
    margin: 1em auto;
}

/* ホバー時 */
.btn_large:hover {
    box-shadow: none;
    transform: translateY(5px);
}

.btn_large:active {
    box-shadow: none;
    transform: translateY(5px);
}

dl {
    display: flex;
    flex-wrap: wrap;
}
#area_my_score>dl{
    width: 90%;
    margin: 0 auto;
}
dt,dd{
    line-height: 1.5em;
    margin:  0 0 1em 0;
    padding: 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
dt {
    width: 30%;
    background-color: #DADADA;
    display: flex;
    align-items: center;
    justify-content: center;
}

dd {
    width: 55%;
    background-color: #F3F3F3;
}
